@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .draggable {
    @apply text-blue-600 border border-blue-600 border-dashed cursor-move px-2 py-1 rounded-lg;
  }
}

.shake {
  animation: shake 0.2s;
}

.question-type-header {
  @apply text-2xl font-bold mb-5;
}

@layer components {
  .submit-btn {
    @apply border rounded-lg px-4 py-2 bg-green-600 active:bg-green-700 text-white font-medium disabled:bg-green-300  disabled:cursor-not-allowed;
  }
}

.check-btn:checked + .single-option {
  @apply bg-blue-100 text-blue-800;
}

.check-btn:checked + .single-option.bg-correct{
  @apply bg-green-100 text-green-800 border-green-400;
}

.check-btn:checked + .single-option.bg-incorrect{
  @apply bg-red-100 text-red-800 border-red-400;
}

.bg-correct{
  @apply bg-green-100 text-green-600 border-green-300 ;

}
.bg-incorrect{
  @apply bg-red-100 text-red-600 border-red-300 ;
}
/* .single-option.bg-unanswered{
  @apply bg-orange-100 text-orange-600 border-orange-300 ;
} */


@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
